body.B {

    text-align: center;
    background-color: lightblue;
    background-size: cover;
    background-image: "https://github.com/jeman618/jeman618.github.io/blob/de8ba68c81a2482818b8f1adb1cb55958702be84/gold%20coins.jpg";
    color: black;
}

img.I {
	
    width: 500px;
    cursor: pointer;
}