body.B {

    text-align: center;
    background-color: lightblue;
    background-size: cover;
    background-image: "gold coins.jpg";
    color: black;
}

img.I {
	
    width: 500px;
    cursor: pointer;
}